<h1 class="text-3xl font-semibold mb-6 text-center">Recipes</h1>

<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <%= form_with(url: recipes_path, method: :get, local: true, class: "mb-6") do %>
    <div class="flex flex-wrap justify-between items-end">
      <!-- Dropdown for selecting the search attribute -->
      <%= select_tag "search_by", options_for_select({
        'Title' => 'title',
        'Cuisine' => 'cuisine',
        'Category' => 'category',
        'Author' => 'author'
      }, params[:search_by]), id: "search_by_dropdown", class: "rounded-lg focus:ring-blue-500 bg-gray-50 focus:border-blue-500  w-full p-2.5 " %>

      <!-- Search input field -->
      <%= search_field_tag :search, params[:search], id: "default-search", class: "block w-full p-2.5 text-sm bg-gray-50 rounded-lg border  focus:ring-blue-500 focus:border-blue-500  dark:border-gray-600", placeholder: "Enter search term...", required: true %>
    </div>
  <% end %>

  <!-- Recipes Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% @recipes.each do |recipe| %>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <% if recipe.image.present? %>
          <img class="h-48 w-full object-cover" src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <% end %>
        <div class="p-4">
          <h5 class="text-lg font-bold mb-2"><%= recipe.title %></h5>
          <div class="text-gray-700 text-base mb-4">
            <p>Cook Time: <%= recipe.cook_time %> minutes</p>
            <p>Prep Time: <%= recipe.prep_time %> minutes</p>
            <p>Ratings: <%= recipe.ratings %></p>
            <p>Cuisine: <%= recipe.cuisine %></p>
            <p>Category: <%= recipe.category %></p>
            <p>Author: <%= recipe.author %></p>
          </div>
        <%= link_to 'Show', recipe_path(recipe), class: "text-white bg-blue-600 hover:bg-blue-700 rounded-full px-5 py-2.5 text-center" %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="mt-8">
    <%= paginate @recipes %>
  </div>
</div>
<script>
  function handleInput() {
    var searchInput = document.getElementById('default-search');
    if (!searchInput.value) {
      searchInput.form.submit();
    }
  }
</script>
