<h1 class="text-3xl font-semibold mb-6 text-center">Recipes</h1>

<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <%= form_with(url: recipes_path, method: :get, local: true, class: "mb-6") do %>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      </div>
      <%= search_field_tag :search, params[:search], id: "default-search", class: "block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Search Recipes...", required: true,  oninput: "handleInput()"%>
      <%= button_tag type: 'submit', class: "text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do %>
        Search
      <% end %>
    </div>
  <% end %>

  <!-- Recipes Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% @recipes.each do |recipe| %>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <% if recipe.image.present? %>
          <img class="h-48 w-full object-cover" src="<%= recipe.image %>" alt="<%= recipe.title %>">
        <% end %>
        <div class="p-4">
          <h5 class="text-lg font-bold mb-2"><%= recipe.title %></h5>
          <div class="text-gray-700 text-base mb-4">
            <p>Cook Time: <%= recipe.cook_time %> minutes</p>
            <p>Prep Time: <%= recipe.prep_time %> minutes</p>
            <p>Ratings: <%= recipe.ratings %></p>
            <p>Cuisine: <%= recipe.cuisine %></p>
            <p>Category: <%= recipe.category %></p>
            <p>Author: <%= recipe.author %></p>
          </div>
          <%= link_to 'Show', recipe, class: "text-white bg-blue-600 hover:bg-blue-700 rounded-full px-5 py-2.5 text-center" %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Pagination -->
  <div class="mt-8">
    <%= paginate @recipes %>
  </div>
</div>
<script>
  function handleInput() {
    var searchInput = document.getElementById('default-search');
    if (!searchInput.value) {
      searchInput.form.submit();
    }
  }
</script>
